<div class="col-xs-8" id="users-content">
  <div class="list-group">
    <div class="list-group-item user-list">
      <h2>ユーザー一覧</h2>
    </div>
    <%= div_for @users, class: "list-group-item" do |u| %>
      <h4 class="user">
        <span class="user-name">
          <%= link_to u.name, user_path(u) %>
        </span>
        <span class="user-id">
          @<%= u.name%>
        </span>
      </h4>
      <div class="bio">
        <%= u.bio %>
      </div>
    <% end %>
  </div>
</div>
