<div class="col-xs-8" id="users-content">
  <div class="user-info">
    <span class="user-name">
      <%= @user.name %>
    </span>
    <span class="user-id">
      @#{@user.name}
    </span>
    <div class="bio">
      <%= @user.bio %>
    </div>
  </div>
</div>
